body {
	width: 1200px;
	height: 700px;
	background-color: #000000;
	background-image: url("../../images/Background.jpg");
	color: #fcfcfc;
	font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	margin: 0 auto;
}

a {
	color: white;
	font-size: 20px;
}

body header h1 {
	font-family: 'Ravi Prakash', cursive, Helvetica, Arial, Sans-Serif;
	font-size: 35px;
	text-shadow: 2px 2px #FF0000;
}

body header h3 {
	font-family: 'Ravi Prakash', cursive, Helvetica, Arial, Sans-Serif;
	font-size: 25px;
}

footer {
	margin-bottom: 30px;
	text-align: center;
	font-size: 0.825em;
}


footer p {
	margin-bottom: -2.5em;
	position: relative;
	font-size: 15px;
}

footer a,
footer a:visited {
	color: #cccccc;
	background-color: #213e4a;
	display: block;
	padding: 2px 4px;
	z-index: 100;
	position: relative;
}

footer a:hover {
	text-decoration: none;
	background-color: #142830;
}

footer a.by {
	float: left;

}

footer a.up {
	float: right;
}