body {
    width: 1200px;
    height: 500px;
    background-color: #000000;
    background-image: url("../../images/Background.jpg");
    color: #fcfcfc;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    margin: 0 auto 0 auto;
    font-size: 0.825em;
}

#sidebarA {
    width: 300px;
    float: left;
    border-right: 2px solid #ef9c00;
    border-left: 2px solid #ef9c00;
    border-top: 2px solid #ef9c00;
}

body header h1 {
    font-family: 'Ravi Prakash', cursive, Helvetica, Arial, Sans-Serif;
    font-size: 35px;
    text-shadow: 2px 2px #FF0000;
}

body header h3 {
    font-family: 'Ravi Prakash', cursive, Helvetica, Arial, Sans-Serif;
    font-size: 25px;
}


main {
    width: 642px;
    float: left;
    border-top: 2px solid #ef9c00;
}

#sidebarB {
    width: 250px;
    float: right;
    border-right: 2px solid #ef9c00;
    border-left: 2px solid #ef9c00;
    border-top: 2px solid #ef9c00;
}

aside h2 img {
    width: 300px;
    height: 500px;
    align-content: center;
}

aside h2 {
    font-size: 15px;
    text-align: center;
}

a {
    color: white;
    font-size: 20px;
}

a:hover {
    color: #485461;
}

footer {
    margin-bottom: 30px;
    text-align: center;
    font-size: 0.825em;
}


footer p {
    margin-bottom: -2.5em;
    position: relative;
    font-size: 15px;
}

footer a,
footer a:visited {
    color: #cccccc;
    background-color: #213e4a;
    display: block;
    padding: 2px 4px;
    z-index: 100;
    position: relative;
}

footer a:hover {
    text-decoration: none;
    background-color: #142830;
}

footer a.by {
    float: left;

}

footer a.up {
    float: right;
}